<?xml version="1.0" encoding="GBK"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/myhealth/Health"
			class = "org.xtext.example.myhealth.health.HealthPackage"
			genModel = "model/generated/Health.genmodel" />
	</extension>
</plugin>
